# .
.azureus/*
.cache
.cargo
.ccnet
.config
.cxoffice
.dbshell
.dbus
.dosbox
.deepinwine
.eclipse
.gconf
.gnupg
.gitosis.conf
.gnome/
.gtkrc-2.0
.icons
.imwheelrc
.java
.kde
.keras
.kingsoft
.local
.Mathematica
.meteor
.meteorsession
.mongorc.js
.node-gyp
.node_repl_history
.npm
.nv
.nvidia-settings-rc
.oh-my-zsh
.oracle_jre_usage
package-lock.json
.pam_environment
.pip
.pki
.presage
.Public
.rnd
.remarkable
.sogouinput
.ssh
.swt
.synergy
.subversion
.themes
.var
.vim/bundle
.vim_mru_files
.viminfo
.vscode
.vnc
.Wolfram
.wget-hsts
.Mathematica
.Xauthority
.Xauthority-c
.Xauthority-l
.xinputrc
.xsession-errors
.xsession-errors.old
.zcompdump-LY-5.5.1
.zsh
.zplugin

.lesshst
.rustup/*
.nvm
.multirust
go
.gksu.lock
*.lock
.conan
.gitignore-boilerplates
.wine

# normal
Desktop
Documents
Downloads
gitosis
Music
Pictures
program/jdk-11
program/noback
repositories
Videos
snap
node_modules
package-lock.json


# My configurations:

.jupyter/nbconfig

.ipython
.netease-musicbox
.comsol
.gvm
gogs-repositories
.mysql_history

.jspm
.rustup
.bash_history
.bash_logout
.python_history
SeaDrive
Seafile
.seadrive
.MarbleMarcher
.steam*
.dde_env

.fzf
.pyenv
.nvm
program/back/git
program/go
.python_history
.zcompdump
.mplayer
.Komorebi.prop
.matlab
.dmrc
.psensor
elementary
.ew.json
.cabal
.fehbg
.fltk
.ghc

.w3m
.byteexec
.klayout
.stellarium
.bzr.log
.zcompdump-loyxin-5.6.2

.ssr
.thumbnails
.vscode-cpptools

.zprofile


.fontconfig
.bash_history
.bash_profile
.bashrc
.ccache
.config
.dbus
.fontconfig
.ipython
.kde
.local
.lsbatch
program
.ssh
.tac.asml.com
tach
.tachyon
test
.viminfo
.vscode
work
.Xauthority
.oh-my-zsh
.pip
.vim/bundle
.vim_mru_files
.vscode
.zsh
.zplugin

.bash_logout
.python_history

Download
.zsh_history
.zcompdump-*
.gstreamer-*
.CtxlpProfile.*
.ICEauthority
.esd_auth
.gconfd/
.mozilla/
.vscode-oss/
ctxmnt

.zsh_history
.zcompdump-*
.gstreamer-*

.vim/autoload/plug.vim
.p4enviro

ipython/
.jspm
.myclirc
.pciids-cache

.CFUserTextEncoding
.DS_Store
.hidpi-disable
.zsh_sessions/
Library/
Movies/
Public/
iCloud云盘（归档）/

.Trash
.zsh_history
.zcompdump*

.vim/.netrwhist
.vim/autoload
program

writetach

tmp/

*.avx
.lldb

.hmcl/
.minecraft/
.pulse-cookie
.sunlogin
.mcfly
.tmux

package.json

.conkyrc
